body,html{
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', cursive;
        background-color: cadetblue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper{
    width: 350px;
    height: 550px;
    background-image: url('bg.jpg');
    background-size: cover;
    /* background-color: cadetblue; */
    position: relative;
    overflow: hidden;
}
.judul{
    text-align: center;
    letter-spacing: 3px;
    font-variant: small-caps;
    color: rgb(255, 111, 0);
    text-shadow: 5px 0 rgb(9, 236, 100);   
}
.tombol{
    display: flex;
    justify-content: space-around;
    width: inherit;
    box-sizing: border-box;
    position: absolute;
    bottom: 50px;
}
button{
    width: 90px;
    height: 50px;
    background-color:  rgb(9, 236, 100);   
    color: white;
    border: 0;
    border-radius: 20px;
    transition: all 1s ease-in-out;
    font-family: 'Unbounded', cursive;
    z-index: 99;
}
button:hover{
    background-color:  rgb(35, 207, 104);
    box-shadow: 0px 0px 3px 3px black;
}
.status{
    display: flex;
    position: relative;
    margin: 50px auto;
    width: 175px;
    margin-bottom: 30px;
}
.full,.nyawa{
    height: 30px;
    box-sizing: border-box;
    border-radius: 15px;
}
.nyawa{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: red;
    font-size: smaller;
    text-align: center;
    line-height: 30px;
}
.full{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: white;
}
.tebak{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    z-index: 99;
}
.angka{
    width: 90px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 2em;
    background-color: gold;
    box-shadow: 0 0 5px 5px white;
    border-radius: 10%;
    z-index: 99;
}
input{
    height: 30px;
    width: 50px;
    background-color: gold;
    box-shadow: 0 0 2px 2px white;
    border: none;
    border-radius: 10%;
    text-align: center;
    font-size: 20px;
    z-index: 99;
}
.input{
    display: flex;
    text-transform: uppercase;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input > span{
    font-size: 10px;
    margin-bottom: 10px;
    color: cornsilk;
    text-transform: capitalize;
    z-index: 99;
}
.hasil{
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 99;
}
.material-symbols-outlined{
    line-height: 30px;
}
.reset{
    display: none;
}
/* animasi */
.terbangganjil,.terbanggenap{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 350px;
    z-index: 2;
    gap: 100px;
    color: white;
    /* animation: 3s terbangganjil infinite ease-in-out; */
}
.terbangganjil{
    animation: 6s terbangganjil infinite ease-in;
}
.terbanggenap{
    animation: 6s terbanggenap infinite ease-in;
}
@keyframes terbangganjil{
    0%{
        left: 0;
        opacity: 0;
    }
    25%{
        transform: scale(0.7);
        transform: rotate(30deg);
    }
    50%{
        left: 350px;
        color: crimson;
        transform: rotate(-30deg);
    }
    100%{
        left: 0;
    }
}
@keyframes terbanggenap{
    0%{
        right: 0;
        opacity: 0;
    }
    25%{
        transform: scale(0.7);
        transform: rotate(30deg);
    }
    50%{
        right: 350px;
        color: grey;
        transform: rotate(-30deg);
    }
    100%{
        right: 0;
    }
}
